.App {
  display: block;
  max-width: 1440px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.c-card {
  display: flex;
  justify-content: center;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #1A5F7A;
  border-radius: 8px;
  box-shadow: 5px 5px 20px #1a5f7a5d;
  margin-bottom: 24px;
}
